/*--------html1---*/
.tit{
    font-weight: bold;
}
.parra{
    font-family: sans-serif;
}
.imagen
{
    background-image: url(../img/GirlWaves-1920x1650.jpg);
    background-repeat: no-repeat;
    
 
}
.titulo{
   
  font-family: fantasy;
    font-size: 150px;
    text-align: center;
    padding-top: 40px;

}
.botones{
    padding-top: 110%;
    margin: auto;
}
.butt
{
   width: 320px;
    height: 130px;
    border-radius: 10px;
    position: relative;
    right: 70px;
      background: transparent;
    border:2px solid #fff !important;
    font-size:50px;
    font-family: sans-serif;
    color: aliceblue;    
}

.butt3
{
    background-image: url(../img/degra.jpg);
   width: 330px;
    height: 135px;
    border-radius: 10px;
    position: relative;
      font-size:50px;
      font-family: sans-serif;
    color: aliceblue;
    left: 70px;
}

.color
{
    color: #3ad1ed;
}
/*-------------HTML3---------------*/
.paises{
    padding: 0
}
.paises li{
    border-bottom: 1px solid #909090;
    background:#f0efef;
    box-sizing: border-box;
    padding: 10px 5px 3px 20px;
    font-weight: 600;
}
.paises li{
    box-sizing: border-box;
    padding: 7px;
    font-weight: 600;
    font-size: 15px;
    list-style: none;
    border-top: 1px solid #ccc;
}

.paises span{
    font-weight: bold;
    float:right;
}
.pas{
    width: 25px;
    height: 15px;
}

/*----------------html4----*/
.encabezado
{
    font-weight: bold;
}
.seccion .row
{
    font-weight: bolder;
}
.icono
{
    font-size: 30px;
    margin-right:60px;
}
.salida{
    margin-top: 80px;
    border: none;
    background: #ccc;
    color: white;
    box-sizing: border-box;
    width: 200px;
    border-radius: 7px;
    font-size: 30px;
}





