.pay{
    font-size: 80px;
    margin-left: 55%;
}
.per{
    border-radius:50%;
    width: 455px;
    border:3px solid #ccc;
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 55%;
}
.btn-group{
    width: 150%;
    margin-left:5%;
}

.uno{
    width: 25%;
    height: 130px;

}
.tres{
    width: 15%;
    height: 130px;
    
}

.bac{
    
    width: 95%;;
    height: 130px;
}

.car{
    margin-left:980px;
    font-size: 50px;
}
.cor{
    font-size: 50px;
}
.titulo {
    font-family: fantasy;
    font-size: 90px;
    color: #FF00FF;
    
}
.puntos{
    color: #000;
}
.next{
            width: 156%;
            height: 320px;
            background: #474C62;
            color: #fff;
            font-size: 190px;
            bottom: 1%;
            margin-top:67%; 
   }
.nueve{
     margin-left: 55%;
    font-size:150px;
    margin-top:20%;
}
hr{
    border:1px solid #ccc;
    width:160%;
}
 
